/*Hex color palette*/
:root {
    --primary: #cda542;
    --secondary: #5542cd;
}

/* Styling for main header at top of page */
header {
    margin-bottom: 0;
    background-color: #000;
}

header h1 {
    color: var(--primary);
    background-color: #000;
    font-family: "Reenie Beanie", cursive;
    font-style: bold;
    font-size: 100px;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 119px;
    left: 1208px;
    width: 100%;
    height: 328px;
    margin: 0;

}

header h6 {
    color: var(--primary);
    background-color: #000;
    font-family: "Reenie Beanie", cursive;
    font-size: 30px;
    position: relative;
    bottom: 100px;
    margin: 0;
}

/*Nav bar styling*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;

}

nav a {
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
    font-family: "Staatliches";
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    
}

nav a:hover {
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
    font-family: "Staatliches";
    font-size: 40px;
    color: var(--primary);
    text-decoration: none;
}

nav {
    background-color: #000;
    border: 2px solid var(--primary)

}

/*Styling for each section's header*/
.section-heading {
    background-color: #000;
    color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 1105px;
    left: 1208px;
    width: 100%;
    height: 100px;
    margin: 0;
    font-family: 'Staatliches';
    font-size: 70px;
}

/*main image positioning*/
#top-photo {
    margin: 0

}

#top-photo img {
    max-width: 100%;
    margin: 0;
    display: flex;

}

#about-me h2 {
    background-color: var(--primary);
    color: #000;
}

#about-me-text img {
    opacity: 0.25;
    border: 3px solid #000;
}

article {
    background-color: var(--primary)
}

article p {
    font-family: "Corbel";
    font-size: 20px;
    color: #000;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

article #main-image {
    background-color: var(--primary);
    margin: 0
    
}

#main-image img {
    opacity: 0.6;
    background-color: var(--primary);
}

#portfolio {
    height: 500px;
    background-color: #000

}

#portfolio img {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border: 3px solid var(--primary);

}

#portfolio li, #portfolio a {
    list-style-type: none;
    text-decoration: none;
    color: var(--primary);
    font-family: "Reenie Beanie", cursive;
    font-size: 40px;
}

#portfolio ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;    
}

#contact h2 {
    background-color: var(--primary);
    color: #000;
}

#contact {
    background-color: var(--primary);
    display: block;
}

#contact h3 {
    font-family: "Reenie Beanie", cursive;
    font-size: 50px;
}

#contact h4 {
    font-family: "Staatliches";
    font-size: 40px;
    padding-bottom: 100px;
}

