/*variables*/
:root {
    --primary: #cda542;
}

/*Scroll settings for page*/
html {
    scroll-behavior: smooth;
}

/*primary background color*/
body {
    background-color: var(--primary);
}

/* Styling for main header and subheader at top of page */
header {
    margin-bottom: 0;
    background-color: #000;
}

header h1 {
    color: var(--primary);
    background-color: #000;
    font-family: "Reenie Beanie", cursive;
    font-style: bold;
    font-size: 100px;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 119px;
    left: 1208px;
    width: 100%;
    height: 328px;
    margin: 0;

}

header h6 {
    color: var(--primary);
    background-color: #000;
    font-family: "Reenie Beanie", cursive;
    font-size: 30px;
    position: relative;
    bottom: 100px;
    margin: 0;
}

/*Nav bar styling*/
nav ul {
    list-style-type: none;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

nav a {
    margin-right: 250px;
    
    font-family: "Staatliches";
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    
}

nav a:hover {
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
    font-family: "Staatliches";
    font-size: 40px;
    color: var(--primary);
    text-decoration: none;
}

nav {
    background-color: #000;
    border: 2px solid var(--primary)

}



/*Styling for each section's header*/
.section-heading {
    background-color: #000;
    color: var(--primary);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0;
    font-family: 'Staatliches';
    font-size: 100px;
}

/*main image positioning*/
#top-photo {
    margin: 0;
    width: 100%;
}

#top-photo img {
    width: 100%;
    margin: 0;

}

/*About Me Section*/
#about-me {
    height: 850px;
    width: 100%;
    background-color: var(--primary);
    
}

#about-me h2 {
    background-color: var(--primary);
    color: #000;
}

#about-me article {
    height: 800px; 
      
}

#about-me article img { 
    border: 3px solid #000;
    display: block;
    float: right;
    max-width: 480px;
    max-height: 550px;
    min-width: 200px;
    width: 20%;
    height: auto;
    margin: 0;
}

article p {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #000;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    min-width: 500px;
    overflow: hidden;
}


/*My Work Section*/
#portfolio {
    height: 800px;
    width: 100%;
    background-color: #000       
}
   
#portfolio #project-2 img, #portfolio #project-3 img {
    max-height: 50%;
    max-width: 50%;
    height: auto;
    width: auto;
    border: 3px solid var(--primary);   
}

#column-1 {
    width: 50%;
    float: left;
}

#column-2 {
    width: 50%;
    float: right;         
}

#portfolio #column-1 img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    border: 3px solid var(--primary);
}

#portfolio li, #portfolio a {
    list-style-type: none;
    text-decoration: none;
    color: var(--primary);
    font-family: "Reenie Beanie", cursive;
    font-size: 40px;    
}

#portfolio ul {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

/*Contact Section*/
#contact h2 {
    background-color: var(--primary);
    color: #000;
}

#contact {
    background-color: var(--primary);
    display: block;
}

#contact h3 {
    font-family: "Reenie Beanie", cursive;
    font-size: 50px;
}

#contact h4 {
    font-family: "Staatliches";
    font-size: 40px;
    padding-bottom: 100px;
}


/*Changes for smaller screen devices*/
@media screen and (max-width: 768px) {
    nav ul {
        list-style-type: none;
        height: 800px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    #about-me article img {
        border: 3px solid #000;
        display: block;
        max-width: 480px;
        max-height: 550px;
        min-width: 200px;
        width: 20%;
        height: auto;
        margin-right: 50%;
    }
        
}

@media screen and (max-width: 480px) {
    nav ul {
        list-style-type: none;
        height: 800px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    #about-me article img {
        border: 3px solid #000;
        display: block;
        max-width: 480px;
        max-height: 550px;
        min-width: 200px;
        width: 20%;
        height: auto;
        margin-right: 50%;
    }
        
}

